body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

 section {
    margin-top: 1px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#hnav {
    margin-top: 1px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(212, 230, 241);
}

#hnav a {
    text-decoration:none;
    font-size: 23px;
    color:black;
}

#hnav a.active {
    border-bottom: solid 2px;
}

#hnav a:hover {
    background-color: rgb(2, 36, 2);
    color: whitesmoke;
}

/* guide image */
#guide-container {
    position: relative;
    overflow: hidden;
}

/* #photo-text */
#photo-text h1 {
    text-align: center;
}

#guide-image {
    height: 450px;
    width: 100%;
    background: url('../images/guide-imge.jpg') no-repeat center center;
    background-size: cover;
}

#photo-text {
    background-color: #000000;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 300px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    bottom: 25px;
    right:150px;
    position: absolute;
}

/*Tour Recommandations*/

#suggest {
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}

#suggest figure {
    display: flex;
    flex-flow: column;
}

#suggest img {
    height: 150px;
    width: 230px;
}

#suggest figcaption {
    width: 230px;
    background-color: rgb(212, 230, 241);
    color: rgb(8, 5, 5);
    font-size: 15px;
}

#suggest a {
    text-decoration: none;
    color: rgb(76, 25, 196);
}

#suggest figcaption:hover {
    border-bottom: #000000 2px solid;
}


