body {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 4px;
}

 section {
    margin-top: 1px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#hnav {
    margin-top: 1px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(212, 230, 241);
}

#hnav a {
    text-decoration:none;
    font-size: 23px;
    color:black;
}

#hnav a.active {
    border-bottom: solid 2px;
}

#hnav a:hover {
    background-color: rgb(2, 36, 2);
    color: whitesmoke;
}

/* guide image */
#guide-container {
    position: relative;
    overflow: hidden;
}

/* #photo-text */
#photo-text h1 {
    text-align: center;
}

#guide-image {
    height: 450px;
    width: 100%;
    background: url('../images/guide-imge.jpg') no-repeat center center;
    background-size: cover;
}

#photo-text {
    background-color: #000000;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 300px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    bottom: 25px;
    right:150px;
    position: absolute;
}

/*Tour Recommandations*/

#suggest {
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}

#suggest figure {
    display: flex;
    flex-flow: column;
}

#suggest img {
    height: 129px;
    width: 230px;
}

#suggest figcaption {
    width: 230px;
    background-color: rgb(212, 230, 241);
    color: rgb(8, 5, 5);
    font-size: 15px;
}

#suggest a {
    text-decoration: none;
    color: rgb(76, 25, 196);
}

#suggest figcaption:hover {
    border-bottom: #000000 2px solid;
}

/* Sites that may interest you */

.interests h3 {
    background-color: rgb(212, 230, 241);
    margin: 0;
    letter-spacing: 8px;
    text-align: center;
    border-bottom: #000000 2px solid;
}

#sites{
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.list-sites > li {
    list-style: none;
    padding: 10px 0 10px 0;
}

.interests {
    background-color: rgba(0, 0, 0, 0.877);
    width: 20%;
    padding-top: 4px;
    padding-bottom: 10px; 
    text-align: left;
}

.interests a {
    color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
     letter-spacing: 3px;
}

.interests a:hover {
    border-bottom: 2px solid;
}

/* Join us visit us contact us follow us*/
footer {

    height: 300px;
    width: 100%;
    background-color: rgb(212, 230, 241);
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;   
}

.contact {
    /* border: #000000 2px solid; */
    width: 33%;
}

.contact h3 {
    width: 200px;
    margin-left: 150px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
} 

#join-us input {
    display: block;
    margin-top: 25px;
    margin-left: 150px;
    border: 0;
    border-bottom: 2px solid black;
    background-color: rgb(212, 230, 241);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#join-us button {
    height: 40px;
    width: 200px;
    display: block;
    margin-left: 150px;
    margin-top: 25px;
    background-color: #000000;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#visit-us iframe {
    height: 210px;
    width: 90%;
}


#follow-us {
    margin-top: 40px;
    margin-right: 60px;
}

#follow-us ul li {
    display: inline;    
}

#follow-us img {
    padding-left: 40px;
    padding-top: 5px;
}

#follow-us a {
    text-decoration: none;
}



/* places page */

.places {
    height: 360px;
    width: 100%;
    margin-top:20px;
    background-color:whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

.places h2 {
    margin-top: 30px;
}

.part-place p {
    text-align: left;
    font-family: 'Lora', serif;
    text-align: left;   
}

.part-place {
    float: left;
    height: 300px;
    width: 600px;
    margin-left: 10%;
}

.image-place img {
    float:right;
    height: 253px;
    width: 450px;
    border-radius: 10%;
    margin-top: 20px;
    margin-right: 10%;
}

.info {
    font-size: 20px;
    background-color: rgb(212, 230, 241);
}

 .info li {
     list-style-type: none;
     display: inline;   
 }

 .info a {
    text-decoration: none;
    color: rgb(63, 26, 26);
    font-size:18px;
    margin-right:50px;
    text-transform: uppercase;
}

.info a:hover {
    border-bottom: black 2px solid;
}

/* On screens that are 1300px or less for Labtop*/
@media screen and (max-width: 1300px) and (min-width: 900px) {

    #suggest {
       height: 160px;
    } 
    
    #suggest img {
        height: 114px;
        width: 200px;
        margin-left: -25px;
    }
        
    #suggest figcaption {
        width: 200px;
        margin-left: -25px;
    }
    
    .interests {
        width: 100%;
        margin-left: 15px;
    }
    
    #follow-us img {
        padding-left: 0px;
        margin-left: 20px;
    }

    /* places screen */
    .part-place {
        width: 500px;
    }
    .info {
        width: 480px;
    }
    .info a {
        font-size: 13px;
    }
     }

/* On screens that are 800px or less for Tablet*/
@media screen and (max-width: 800px) and (min-width: 380px) {
    
    h2 {
    font-size: 30px;
    }
    
    #suggest {
    height: 1950px;
    width: 100%;
    display: block;
    }
    
    #suggest img {
    height: 337px;
    width: 600px;
    margin-left: 50px;
    }
    
    #suggest figcaption {
    font-size: 25px;
    width: 600px;
    margin-left: 50px;
    }
    
    #sites {
    height: 1500px;
    display: block;
    }
    
    .interests {
    width: 600px;
    margin-left: 95px;
    text-align: center;
    font-size: 25px;
    }
    .interests a {
    font-size: 25px;
    }
    
    footer {
    height: 1000px;
    display: block;
    width: 780px;
    padding-top: 20px;
    }
    
    #join-us {
    margin-left: 50%;
    width: 600px;
    
    }
    #visit-us {
    margin-left: 50%;
    padding-top: 20px;
    
    }
    #visit-us iframe {
    width: 600px;
    height: 300px;
    margin-left: -15%;
    }
    
    #contact-us {
    padding-top: 20px;
    margin-left: 50%;
    }
    
    .contact-m-p {
    font-size: 20px;
    margin-left: 140%;
    }
    
    #follow-us {
    margin-left: 50%;
    }
    
    #follow-us ul {
    display: flex;
    justify-content: center;
    margin-left: 190px;
    }
    
    #follow-us a {
    margin-left: 30px;
    }
    
    /* places screen */
    .places {
    height: 700px;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column-reverse;
    }
    
    .image-place {
    margin-right: 80px;
    }
    }     
/* On screens that are 370px or less for mobile*/
@media screen and (max-width: 370px) {
    #hnav {
        width: 85%;
    }

    #hnav a {
        font-size: 15px;
        margin-right: 25px;
    }

    #guide-image {
        height: 140px;
        width: 100%;
    }
    
    #photo-text {
        font-size: 7.5px;
        width: 40%;
        height: 40%;
        border-radius:50%;
        padding-top: 10px;
        padding-left: 10px;
        bottom: 5px;
        right:10px;
    }

    /*Suggested Places*/
    h2 {
        font-size: 100%
        }
    #suggest {
        height: 800px;
        display: block;
    }

    #sites {
        height: 1150px;
        display: block;
        text-align: left;
        width: 80%;
    }

    .interests {
    width: 100%;
    margin-left: 15%;
    }

    footer {
        height: 900px;
        display: block;
        width: 100%;
        padding-top: 20px;
    }

    #join-us {
        margin-left: -80px;
        width:100%;
    }

    #visit-us {
    margin-left: -80px;
    padding-top: 20px;

    }

    #visit-us iframe {
        width: 250px;
        height: 150px;
        margin-left: 95px;
    }

    #contact-us {
        margin-left: -85px;
        padding-top: 20px;
    }

    .contact-m-p {
    font-size: 15px;
    margin-left: 180px;
    }

    #follow-us {
        margin-left: -80px;
    }
    #follow-us ul {
        display: flex;
        justify-content: center;
        margin-left: 180px;
    }

    #follow-us a {
        margin-left: -8px;
    }  

    /* places screen */
    .places {
        height: 500px;
        width: 100%;
        padding-bottom: 350px;
        display: flex;
        flex-direction: column-reverse;
        }
    .image-place img {
        width: 250px;
        height: 140px;
        margin-left: 230px;
    }

    .part-place{
        width: 90%;
    }

    .info {
        width:fit-content;
        margin-left: 20px;
        background-color:whitesmoke;
    }

    .info a {
        display: block;
        text-align: center;
        font-size: 15px;
        padding-top: 10px;
    }
    }