body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
}

 section {
    margin-top: 1px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

#hnav {
    margin-top: 1px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(212, 230, 241);
}

#hnav a {
    text-decoration:none;
    font-size: 23px;
    color:black;
}

#hnav a.active {
    border-bottom: solid 2px;
}

#hnav a:hover {
    background-color: rgb(2, 36, 2);
    color: whitesmoke;
}

/* guide image */
#guide-container {
    position: relative;
    overflow: hidden;
}

/* #photo-text */
#photo-text h1 {
    text-align: center;
}

#guide-image {
    height: 450px;
    width: 100%;
    background: url('../images/guide-imge.jpg') no-repeat center center;
    background-size: cover;
}

#photo-text {
    background-color: #000000;
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    width: 300px;
    height: 100px;
    border-radius:50%;
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    bottom: 25px;
    right:150px;
    position: absolute;
}

/*Tour Recommandations*/

#suggest {
    height: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
}

#suggest figure {
    display: flex;
    flex-flow: column;
}

#suggest img {
    height: 150px;
    width: 230px;
}

#suggest figcaption {
    width: 230px;
    background-color: rgb(212, 230, 241);
    color: rgb(8, 5, 5);
    font-size: 15px;
}

#suggest a {
    text-decoration: none;
    color: rgb(76, 25, 196);
}

#suggest figcaption:hover {
    border-bottom: #000000 2px solid;
}

/* Sites that may interest you */

.interests h3 {
    background-color: rgb(212, 230, 241);
    margin: 0;
    letter-spacing: 8px;
    text-align: center;
    border-bottom: #000000 2px solid;
}

#sites{
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.list-sites > li {
    list-style: none;
    padding: 10px 0 10px 0;
}

.interests {
    background-color: rgba(0, 0, 0, 0.877);
    width: 20%;
    padding-top: 4px;
    padding-bottom: 10px; 
    text-align: left;
}

.interests a {
    color: white;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 15px;
     letter-spacing: 3px;
}

.interests a:hover {
    border-bottom: 2px solid;
}

/* Join us visit us contact us follow us*/
footer {

    height: 300px;
    width: 100%;
    background-color: rgb(212, 230, 241);
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;   
}

.contact {
    /* border: #000000 2px solid; */
    width: 33%;
}

.contact h3 {
    width: 200px;
    margin-left: 150px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
} 

#join-us input {
    display: block;
    margin-top: 25px;
    margin-left: 150px;
    border: 0;
    border-bottom: 2px solid black;
    background-color: rgb(212, 230, 241);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}

#join-us button {
    height: 40px;
    width: 200px;
    display: block;
    margin-left: 150px;
    margin-top: 25px;
    background-color: #000000;
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#visit-us iframe {
    height: 210px;
    width: 90%;
}


#follow-us {
    margin-top: 40px;
    margin-right: 60px;
}

#follow-us ul li {
    display: inline;    
}

#follow-us img {
    padding-left: 40px;
    padding-top: 5px;
}

#follow-us a {
    text-decoration: none;
}



/* places page */

.places {
    height: 360px;
    width: 100%;
    margin-top:20px;
    background-color:whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
}

.places h2 {
    margin-top: 30px;
}

.part-place p {
    text-align: left;
    font-family: 'Lora', serif;
    text-align: left;   
}

.part-place {
    float: left;
    height: 300px;
    width: 600px;
    margin-left: 10%;
}

.image-place img {
    float:right;
    height: 300px;
    width: 450px;
    border-radius: 10%;
    margin-top: 20px;
    margin-right: 10%;
}

.info {
    font-size: 20px;
    background-color: rgb(212, 230, 241);
}

 .info li {
     list-style-type: none;
     display: inline;   
 }

 .info a {
    text-decoration: none;
    color: rgb(63, 26, 26);
    font-size:18px;
    margin-right:50px;
    text-transform: uppercase;
}

.info a:hover {
    border-bottom: black 2px solid;
}
/* On screens that are 575px or less*/
@media screen and (max-width: 575px) {

    body {
      text-align: left;
    }

   header {     
       height: 130px;
       font-size: 15px;
    }

    #hnav a {
        font-size: 20px;
        padding-right: 46px;
    }

    #hnav a.active {
       border-bottom: none;
}

#guide-image {
   height: 200px;
   width: 100%
}

#photo-text {
   display: none;
}

h2 {
   font-size: 20px;
   width: 100%;
}


/*Suggested Places*/

#suggest {
   width: 100%;
   height: 1500px;
   display: block;
  
}

#suggest figure {
   margin: 0px;
   margin-bottom: 20px;
   width: 100%;
}

#suggest img {
   height: auto;
   width: 100%;
}

#suggest figcaption {
   width: 100%;
   font-size: 20px;
}

/* Sites that may interest you */

.interests h3 {
  width: 100%;
   
}


#sites{
   height: 1200px;
   margin: 0px;
   display: block;
}


.interests {
   width: 100%;
   font-size: 18px;
}

.interests a {
    font-size: 16px;
} 

footer {
   height: 1250px;
   display: block;
   
}

#contact-us h4 {
   width: 300%;
}

#contact-us h3 {
   margin-left: 66%;
   padding-top: 30px;
}

#join-us input {
   font-size: 18px;
}

#join-us {
  padding-top: 30px;
  margin-left: -75px;
}

#visit-us {
   padding-top: 30px;
}

#visit-us iframe {
   width: 300%;
}

#visit-us h3 {
   margin-left: 60%;

}

#follow-us h3 {
   margin-left: 125%;
}

#follow-us img {
   margin-left: 130%;
}

#follow-us ul li {
  padding-left: 150%;
}

#follow-us img {
   padding-top: 30px;
}

/* On screens that are 1200px or less*/
@media screen and ( max-width: 1200px) {

    body {
      text-align: left;
    }

   header {     
       height: 130px;
       font-size: 15px;
    }

    #hnav a {
        font-size: 20px;
        padding-right: 46px;
    }

    #hnav a.active {
       border-bottom: none;
}

#guide-image {
   height: 200px;
   width: 100%
}

#photo-text {
   display: none;
}

h2 {
   font-size: 20px;
   width: 100%;
}


/*Suggested Places*/

#suggest {
   width: 100%;
   /* height: 300px; */
   /* display: inline; */
  
}

#suggest figure {
   margin: 0px;
   margin-bottom: 20px;
   width: 100%;
}

#suggest img {
   height: auto;
   width: 100%;
}

#suggest figcaption {
   width: 100%;
   font-size: 20px;
}

/* Sites that may interest you */

.interests h3 {
   font-size: large; 
   
}


#sites{
   height: 300px;
   margin: 0px;
 
}

.interests {
   width: 100%;
   font-size: 18px;
}

.interests a {
    font-size: 16px;
} 

/* footer */

footer {
   height: 350px;
}

.image-place img {
    height: 200px;
    width: 270px;
    margin-top: 80px;
}

